<% if current_user.coach? %>
  <div class="page-header">
    <h1>My Favorites</h1>
  </div>
  <% @profiles.each do |profile| %>
    <div class="well span3">
      <div class="pull-left"><%= profile.postion %></div>
      <%= profile.current_club %>
      <% if !profile.listings.empty? %>
        <%= youtube_thumb_embed(profile.listings.last.video).html_safe %>
      <% end %>
      <%= link_to profile.full_name, profile_path(profile) %>
    </div>
  <% end %>
<%else%>
  <div class="page-header">
    <h1>My Listings <small>incoming class <%= @user_player.incoming_year %> club system <%= @user_player.system_formation %></small></h1>
  </div>

  <div class='clearfix'>
    <% @listings.each do |listing| %>
      <div class="well listing span4">
        <%= youtube_thumb_embed(listing.video).html_safe %>
        <small><%="Added " + time_ago_in_words(listing.created_at) + " ago" %></small><br>
        <div class="meta">
          <span class="admin">
            <%= link_to "Edit", edit_listing_path(listing) %> |
            <%= link_to "Delete",listing, method: :delete, data:{confirm: "This cannot be undone"} %>
          </span>
        </div>
      </div>
    <% end %>
    <%= link_to "Post listing", new_listing_path, class: "btn btn-success" %>
  </div>

  <div class="page-header">
    <h1>My Next Games</h1>
  </div>

  <div class='clearfix'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Game Date</th>
          <th>Field Location</th>
          <th>Who We Play</th>
          <th>Game Time</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each  do |game| %>
        <tr>
          <th class="scheduled_date"><%= game.scheduled_date.strftime("%m/%d/%Y") %></th>
          <th class="location"><%= game.location %></th>
          <th class="opponent"><%= game.opponent %></th>
          <th class="scheduled_time"><%= game.scheduled_time %></th>
          <th><span class="admin"><%= link_to "Edit", edit_game_path(game) %> | <%= link_to "Delete", game,method: :delete,data:{confirm: "This can't be undone"} %></span></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= link_to "Post an upcoming game", new_game_path, class: "btn btn-success" %>
  <br />  <br />
<% end %>
