<h1><%= @user.full_name %> <small>is a </small> <%= @user.postion%> <small>in a</small> <%=@user.system_formation %> <small>incoming class of</small> <%= @user.incoming_year %></h1>
<%= render 'favorite_button', {:profile => @user} %>