<% if @listings %>
  <% @listings.each do |listing| %>
    <div class="well span4">
      <%= youtube_thumb_embed(listing.video).html_safe %>
      <%= listing.description %><br>
      <button class="btn btn-success" data-toggle="modal" data-target="#<%= parse_youtube_id(listing.video) %>">Watch Game film</button><br>
      <div id="<%= parse_youtube_id(listing.video) %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <%= youtube_embed(listing.video).html_safe %>
      </div>
      <% if current_user == listing.user %>
        <%= link_to "Delete", listing, method: :delete, data:{confirm: "This cannot be undone"} %>
      <%end%>
    </div>
  <% end %>
<% end %>