<div class="page-header">
  <h1>All Players</h1>
</div>

<% @profiles.each do |profile| %>
  <div class="well span3">
    <%= profile.postion %>
    <%= profile.current_club %>
    <% if !profile.listings.empty? %>
      <%= youtube_thumb_embed(profile.listings.last.video).html_safe %>
    <% end %>
    <%= link_to profile.full_name, profile_path(profile) %>
    <%= link_to "Add fav", new_user_friendship_path(friend_id: profile),class: "btn btn-mini btn-warning" %>
  </div>  
<% end %>