<div class="page-header">
  <h2><%= @user.full_name %></h2>
  <%= render 'favorite_button', {:profile => @user} %>
</div>
<div class='clearfix'>
  <% if @listings %>
    <% @listings.each do |listing| %>
      <div class="well span3">
        <%= youtube_thumb_embed(listing.video).html_safe %>
        <%= listing.description %>
        <% if current_user == listing.user %>
          <%= link_to "Delete", listing, method: :delete, data:{confirm: "This cannot be undone"} %>
        <%end%>
      </div>
    <% end %>
  <% end %>
</div>
<br>

<div class="page-header">
  <h3> Games</h3>
</div>
<div class='clearfix'>
  <% @games.each do |game| %>
    <div class="well game span3">
        <div class='scheduled_date'>
           <%= game.scheduled_date %>
        </div>
        <div class='scheduled_time'>
           <%= game.scheduled_time %>
        </div>
        <div class='opponent'>
           <%= game.opponent %>
        </div>
        <div class='location'>
           <%= game.location %>
        </div>
        <% if current_user == @user %>
          <div class="meta">
            <span class="admin">
              <%= link_to "Edit", edit_game_path(game) %> |
              <%= link_to "Delete", game, method: :delete, data:{confirm: "This cannot be undone"} %>
            </span>
          </div>
        <% end %>
    </div>
  <% end %>
</div>

<% if current_user == @user %>
  <%= link_to "Post listing", new_listing_path, class: "btn btn-success" %>
  <%= link_to "Post an upcoming game", new_game_path, class: "btn btn-success" %>
<%end%>
