<div class="page-header">
  <%= render 'player_headline' %>
</div>
<div class='clearfix'>
  <%= render 'video'%>
</div>
<br>
<%= render "game_schedule"%>

<% if current_user == @user %>
  <%= link_to "Post listing", new_listing_path, class: "btn btn-success" %>
  <%= link_to "Post an upcoming game", new_game_path, class: "btn btn-success" %>
<% end %>