<div class="page-header">
  <h1>Latest Videos Posted</h1>
</div>
<br>
<div class="row">
<% @listings.each do |listing| %>
 <div class="well listing span3">
    <div class="span3 dashboard-listing">
      <%= youtube_thumb_embed(listing.video).html_safe %>
    </div><br>
    <div class="span3">
      <small><%="Added " + time_ago_in_words(listing.created_at) + " ago" %></small><br>
      <span style="padding-top:-20px;"><%= listing.user.current_club %></span><br>
      <%= link_to listing.user.full_name, profile_path(listing.user) %> - <%= listing.user.postion%>
    </div>  
    <%= render '/profiles/favorite_button', {:profile => listing.user} %>
 </div>
<% end %>
</div>