<div class="page-header">
  <h1>All Players</h1>
</div>  
<%= link_to "Post listing", new_listing_path, class: "btn btn-success" %>
<br><br>

<% @listings.each do |listing| %>
 <div class="well listing span3">
    <strong>name</strong><br>
    <%=link_to listing.user.full_name, profile_path(listing.user) %><br>
    <%= listing.video %>
    <p><%= listing.description %></p>
    <div class="meta">
      <%= link_to "View Details", listing %> |
      <span class="admin">
        <%= link_to "Edit", edit_listing_path(listing) %> |
        <%= link_to "Delete",listing, method: :delete, data:{confirm: "This cannot be undone"} %>
      </span>
    </div>
 </div>
<% end %>
